$background: #000;
$backgroundWhite: #fff;

$morado: #6B63B5;


//CasasHowarts
$GradienteGriffindor: linear-gradient(135deg, #FF0000 0%, #FED482 100%);


// Heading Font
$HeadingFontColor: #081F32;
$fontColorTitle: #fff;

//Buttons
$normalButton: rgb(0, 0, 0, 0.6);
$hoverButton: rgb(107, 99, 181, 0.6);
$activeButton: #6B63B5;


//Second Font
$secondFontColor: #999999;


$FontFamily: Open Sans;

 


$breakpoint-xs: 420px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;